@model EasyPregunto.Models.AprendizVO

@{
    ViewBag.Title = "Registrar";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h2>Registrar</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "pruebaLabel" })
        <div class="form-group">
            <label>Nombres</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.NombresApredizVO, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NombresApredizVO, "", new { @class = "pruebaLabel" })
            </div>
        </div>

        <div class="form-group">
            <label>Apellidos</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.apellidosAprendizVO, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.apellidosAprendizVO, "", new { @class = "pruebaLabel" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.correoElectronicoAprendizVO, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.correoElectronicoAprendizVO, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.correoElectronicoAprendizVO, "", new { @class = "pruebaLabel" })
            </div>
        </div>

        <div class="form-group">
            <label>Contraseña:</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.claveAprendizVO, new { htmlAttributes = new { @id = "contasena1" , @class = "form-control" }})
                @Html.ValidationMessageFor(model => model.claveAprendizVO, "", new { @class = "pruebaLabel" })
            </div>
        </div>

        <div class="form-group">
            <label>Confirmar Contraseña: </label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.claveAprendizVO2, new { htmlAttributes = new { @id = "contasena1", @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.claveAprendizVO2, "", new { @class = "pruebaLabel" })
            </div>
        </div>

        <div class="form-group">
            <label>Elige un Alias</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.aliasAprendizVO, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.aliasAprendizVO, "", new { @class = "pruebaLabel" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Registrarse" class="btn btn-default"/>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Regresar", "Principal", "Home")
</div>

<div><p>@ViewBag.Message</p></div>
<link href="~/Scripts/HojaAlejo.css" rel="stylesheet" />

<div style="padding-top:36.5vh"></div>
